<section id="pricings-section" class="gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5 white-color">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Affordable Prices</h2>
                <p class="lead w-60"> Consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
            </div>
        </div>
        <div fxLayout="row wrap">
            <!-- Pricing box -->
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                <mat-card class="plan-pricing text-center p-0">
                    <mat-card-title class="accent-bg">
                        <div class="card-title-text">
                            <h1><strong>Modern Web Site</strong></h1>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="mb-1">
                            <mat-list-item>

                            </mat-list-item>
                            <mat-list-item>

                            </mat-list-item>
                            <mat-list-item>

                            </mat-list-item>
                            <mat-list-item>

                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- Pricing box -->
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                <mat-card class="plan-pricing text-center p-0">
                    <mat-card-title class="accent-bg">
                        <div class="card-title-text">
                            <h1><strong>Mobile App</strong></h1>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="mb-1">
                            <mat-list-item>

                              </mat-list-item>
                              <mat-list-item>

                              </mat-list-item>
                              <mat-list-item>

                              </mat-list-item>
                              <mat-list-item>

                              </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- Pricing box -->
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                <mat-card class="plan-pricing text-center p-0">
                    <mat-card-title class="accent-bg">
                        <div class="card-title-text">
                            <h1><strong>Other Solutions</strong></h1>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="mb-1">
                            <mat-list-item>

                              </mat-list-item>
                              <mat-list-item>

                              </mat-list-item>
                              <mat-list-item>

                              </mat-list-item>
                              <mat-list-item>

                              </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>
